<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/projeto-integrador/tela-recuperacaoDeConta/styles.css" type="text/css">   
    
    <title>recuperacao-conta</title>
</head>
    <body 
    class="tela">

        <div 
        class="frame-pai"> frame 
        </div>
            <img 
            class="logo" 
            src="/projeto-integrador/assets/logo3.png" 
            alt="Logo da Casero"
            >

        <form 
        id="recuperacao-conta" 
        action="recuperacao.ejs" 
        method="get">
        </form>
            <input 
            class="input-email" 
            type="email" 
            name="email" 
            id="email" 
            placeholder="Email"
            >
        <div 
        class="elementos-filhos-logo">  
        </div>
            <p class="texto1"> Esqueceu sua senha? </p>
        <div class="texto2"> Não se preocupe! Insira seu email de acesso abaixo para te ajudarmos </div>
        <div class="caixa-email">  </div>
        <button 
        class="enviar" 
        type="submit" 

        ><a 
        href="/modulo4/aula-25/views/home.ejs" 

        ><p 
        class="text-enviar">Enviar</p> </a>  
        </button>
        </div>
    </body>
</html>