@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body,
html {


    display: flex;
    margin: 0px;
    position: relative;
    width: 100%;
    height: 3072px;

    background: #FFFFFF;
}
.navbar {

    position: absolute;
    width: 1440px;
    height: 118px;
    left: 0px;
    top: 0px;
    
    background: #000000;

}

.logoNestHeader {

    position: absolute;
    width: 135px;
    height: 100px;
    left: 205px;
    top: 10px;

}

.icon-profile {

    position: absolute;
    width: 32px;
    height: 32px;
    left: 1158px;
    top: 45px;

}

.text-profile {

    position: absolute;
    width: 142px;
    height: 44px;
    left: 1203px;
    top: 45px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    
    color: #FFFFFF;

}

.link-login {

    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: #FFFFFF;

}

.link-cadastre-se {

    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: #FFFFFF;

}

.title{

    position: absolute;
    width: 300px;
    height: 42px;
    left: 562px;
    top: 133px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 42px;

    color: #000000;

}

.link-person1{
    position: absolute;
    width: 22px;
    height: 22px;
    left: 490px;
    top: 220px;
}

.typePerson1{

    position: absolute;
    width: 200px;
    height: 30px;
    left: 520px;
    top: 220px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    color: #000000;

}

.typePerson2{

    position: absolute;
    width: 200px;
    height: 30px;
    left: 737px;
    top: 220px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    
    
    color: #000000;
}

.circle-typePerson1{

    cursor:pointer;
    position: absolute;
    width: 22px;
    height: 22px;
    left: 490px;
    top: 220px;
}
.circle-typePerson2{

    cursor: pointer;
    position: absolute;
    width: 22px;
    height: 22px;
    left: 705px;
    top: 220px;
}


.inputsLongs::placeholder, .inputsShorts::placeholder  {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    
    color: rgba(226, 1, 0, 0.6);
    
}

.inputsShorts{
    
    padding: 20px;
    box-sizing: border-box;
    
    position: absolute;
    width: 370px;
    height: 45px;
    
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    
}

.inputsLongs{

    box-sizing: border-box;
    
    padding: 20px;
    position: absolute;
    width: 760px;
    height: 45px;
    
    
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 3px;
}

.input-fantasy-name{
    
    left: 329px;
    top: 300px;
}

.input-corporate-name{

    left: 329px;
    top: 360px;
}

.input-cnpj{
    
    left: 329px;
    top: 420px;
}

.input-ie{
    
    left: 718px;
    top: 420px;
}

.input-responsible-name{

    left: 329px;
    top: 480px;
}
.input-email{
    
    left: 329px;
    top: 540px;
}
.input-password{

    left: 329px;
    top: 600px;
}
.input-repeatPassword{

    left: 718px;
    top: 600px;
}
.required-field{

    position: absolute;
    width: 175px;
    height: 21px;
    left: 375px;
    top: 640px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: rgba(226, 1, 0, 0.7);
}

.accept-terms-1{
    
    position: absolute;
    width: 490px;
    height: 21px;
    left: 416px;
    top: 670px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: #E20100;
}

.accept-terms-2{

    position: absolute;
    width: 580px;
    height: 21px;
    left: 416px;
    top: 690px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;    
    
    color: #E20100;

}

.creat-account {

    text-decoration: none;
    cursor: pointer;
    position: absolute;
    width: 370px;
    height: 45px;
    left: 535px;
    top: 750px;
    
    background: #000000;
    border-radius: 5px;
    box-shadow: #000000 20px;

}

.creat-account-text {

    text-decoration: none;
    width: 139px;
    height: 30px;
    left: 654px;
    top: 530px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    
    
    color: #ffffff;
}