@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body,
html {


    display: flex;
    margin: 0px;
    position: relative;
    width: 100%;
    height: 3072px;

    background: #FFFFFF;
}
.navbar {

    position: relative;
    width: 1440px;
    height: 118px;
    left: 0px;
    top: 0px;
    
    background: #000000;

}

.logoNestHeader {

    position: absolute;
    width: 135px;
    height: 100px;
    left: 205px;
    top: 10px;

}

.icon-profile {

    position: absolute;
    width: 32px;
    height: 32px;
    left: 1158px;
    top: 45px;

}

.text-profile {

    position: absolute;
    width: 142px;
    height: 44px;
    left: 1203px;
    top: 45px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    
    color: #FFFFFF;

}

.link-login {

    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: #FFFFFF;

}

.link-cadastre-se {

    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: #FFFFFF;

}

.title{

    position: absolute;
    width: 300px;
    height: 42px;
    left: 562px;
    top: 70px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 42px;
    /* identical to box height */
    
    
    color: #000000;
    
}

.link-person2{

    position: absolute;
    width: 22px;
    height: 22px;
    left: 705px;
    top: 150px;
}

.typePerson1{
    
    position: absolute;
    width: 200px;
    height: 30px;
    left: 520px;
    top: 150px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    
    
    color: #000000;
    
}

.typePerson2{

    position: absolute;
    width: 200px;
    height: 30px;
    left: 737px;
    top: 150px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    
    
    color: #000000;
}

.circle-typePerson1{

    cursor:pointer;
    position: absolute;
    width: 22px;
    height: 22px;
    left: 490px;
    top: 150px;
}
.circle-typePerson2{

    cursor: pointer;
    position: absolute;
    width: 22px;
    height: 22px;
    left: 705px;
    top: 150px;
}

.required-field{

    position: absolute;
    width: 175px;
    height: 21px;
    left: 375px;
    top: 435px;    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: rgba(226, 1, 0, 0.7);
}

.accept-terms-1{
    
    position: absolute;
    width: 490px;
    height: 21px;
    left: 416px;
    top: 460px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: #E20100;
}

.accept-terms-2{

    position: absolute;
    width: 580px;
    height: 21px;
    left: 416px;
    top: 480px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: #E20100;


}

.creat-account {

    text-decoration: none;
    cursor: pointer;
    position: absolute;
    width: 370px;
    height: 45px;
    left: 535px;
    top: 550px;
    
    background: #000000;
    border-radius: 5px;

}

.creat-account-text {

    text-decoration: none;
    width: 139px;
    height: 30px;
    left: 654px;
    top: 530px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    
    
    color: #ffffff;
}


.content{

    position: absolute;
    width: 1440px;
    height: 830px;
    left: 0px;
    top: 118px;
    
    background: #FFFFFF;
    
}


.line {

    display: flex;
    justify-content: center;
    position: absolute;
    width: 1441px;
    height: 70px;
    left: 0px;
    top: 1011px;
    
    background: #211F1F;

}

.footer{

    position: absolute;
    width: 1440px;
    height: 415px;
    left: 0px;
    top: 1081px;
    
    background: #000000;
}
.info-footer{

    width: 1314px;
    height: 199px;
    left: 85px;
    top: 1126px;
    border: #F5F5F5 solid;
}

.social-media{

    margin-top: 8px;
    width: 34px;
    height: 27px;
    bottom: 5181px;
}

.logoNestFooter{


    width: 189px;
    height: 204px;
    left: 57px;
    top: 1267px;
    
    background: url(logo_nest_nova_page-0001__1_-removebg-preview);
}

.inputs{

    box-sizing: border-box;

    padding-left: 20px;
    padding-right: 10px;
    position: absolute;
    width: 370px;
    height: 45px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 3px;
}

.input-name{

    left: 340px;
    top: 210px;
}
.input-cpf{

    left: 729px;
    top: 210px;

}
.input-birthDate{

    left: 340px;
    top: 270px;

}
.input-tell{

    left: 729px;
    top: 270px;

}

.input-email{

    box-sizing: border-box;

    padding-left: 20px;
    position: absolute;
    width: 760px;
    height: 45px;
    left: 340px;
    top: 330px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 3px;

}

.input-password{

    left: 340px;
    top: 390px;

}

.input-repeatPassword{

    left: 729px;
    top: 390px;

}

input::placeholder {
 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    color: rgba(226, 1, 0, 0.9);

}

.eye-off{

    cursor: pointer;
    position: absolute;
    width: 18.89px;
    height: 18.82px;
    left: 680px;
    top: 406px;
    opacity: 1%;
    
    transform: matrix(-1, 0, 0, 1, 0, 0);

}

.img-eye-input-password{

    cursor: pointer;
    position: absolute;
    width: 19.89px;
    height: 20.82px;
    left: 679.89px;
    top: 403px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}