@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body,
html {
    margin: 0px;
    position: relative;
    width: 1441px;
    height: 3072px;

    background: #FFFFFF;
}

.navbar {

    position: absolute;
    width: 1440px;
    height: 181px;
    left: 1px;
    top: 0px;

    background: #000000;

}

.logoNestHeader {

    position: absolute;
    width: 243px;
    height: 181px;
    left: 0px;
    top: 0px;

    background: url(../assets/logoNest.png);

}

img {

    color: black;
    width: 166px;
    height: 166px;
    object-fit: fill;

}

input {

    position: absolute;
    width: 662px;
    height: 52px;
    left: 243px;
    top: 64px;
    padding-left: 20px;

    background: #FFFFFF;
    border-radius: 5px 0px 0px 5px;

}

.profile {

    position: absolute;
    width: 50px;
    height: 50px;
    left: 998px;
    top: 65px;
    border-radius: 50% 50%;

    background: #FFFFFF;
}

.icon-profile {
    position: absolute;
    width: 35px;
    height: 33.5px;
    left: 1005.5px;
    top: 71.5px;

    background: url(../assets/icons/icon-perfil.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.text-profile {

    position: absolute;
    width: 164px;
    height: 51px;
    left: 1062px;
    top: 60px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    color: whitesmoke;

}

.link-login {

    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: #FFFFFF;

}

.link-cadastre-se {

    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: #FFFFFF;

}

.cart {

    position: absolute;
    width: 50px;
    height: 50px;
    left: 1321px;
    top: 64px;
    border-radius: 50% 50%;

    background: #FFFFFF;

}

.icon-cart {
    position: absolute;
    width: 36px;
    height: 38px;
    left: 1327px;
    top: 71px;

    background: url(../assets/icons/icon-cart.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.favorite {

    position: absolute;
    width: 50px;
    height: 50px;
    left: 1251px;
    top: 64px;
    border-radius: 50% 50%;

    background: #FFFDFD;

}

.icon-heart {

    position: absolute;
    width: 40px;
    height: 40px;
    left: 1256px;
    top: 70px;

    background: url(../assets/icons/icon-heart.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.submit {

    position: absolute;
    width: 49px;
    height: 59px;
    left: 905px;
    top: 64px;

    background: #9C2121;
    border-radius: 0px 5px 5px 0px;

}

.icon-lupa {

    position: absolute;
    width: 40px;
    height: 40px;
    left: 909px;
    top: 73px;

    background: url(../assets/icons/lupa.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 7px;
}

.line {

    position: absolute;
    width: 1440px;
    height: 10px;
    left: 1px;
    top: 181px;

    background: #FFFFFF;

}

.img-bg1 {

    position: absolute;
    width: 1440px;
    height: 837px;
    left: 1px;
    top: 191px;

}

.ads {

    z-index: 1;
    position: absolute;
    width: 280px;
    height: 176px;
    left: 581px;
    top: 205px;

    background-image: url(../assets/logoNest.png);
}

.textTypePc-1{
    z-index: 1;
    background-color: #000000;
}

.main-content {

    position: absolute;
    width: 1440px;
    height: 837px;
    left: 1px;
    top: 191px;
    
}

.container {

    position: absolute;
    width: 1355px;
    height: 634px;
    left: 43px;
    top: 395px;

    background: #F5F5F5;
}

.typepc-text {

    z-index: 1;
    position: absolute;
    width: 575px;
    height: 53px;
    left: 146px;
    top: 422px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 52px;


    color: #FF0101;
}

.typepc-1 a {

    z-index: 1;
    position: absolute;
    width: 315px;
    height: 300px;
    left: 146px;
    top: 508px;

    background: url(../assets/typepc-1.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));

}

.typepc-1:hover {

    filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.6));

}


.typepc-2 a {

    z-index: 1;
    position: absolute;
    width: 320px;
    height: 320px;
    left: 535px;
    top: 492px;
    background: url(../assets/typepc-2.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));

}

.typepc-2:hover {

    filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.6));

}


.typepc-3 a {

    z-index: 1;
    position: absolute;
    width: 320px;
    height: 320px;
    left: 949px;
    top: 481px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    background: url(../assets/typepc-3.png);

}

.typepc-3:hover {

    filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.6));

}


.textTypePc-1 a {

    text-decoration: none;
    z-index: 1;
    position: absolute;
    width: 236px;
    height: 45px;
    left: 175px;
    top: 830px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 45px;

    color: #FF0101;

}

.textTypePc-1:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.textTypePc-2 a {

    text-decoration: none;
    z-index: 1;
    position: absolute;
    width: 382px;
    height: 45px;
    left: 515px;
    top: 830px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */


    color: #FF0101;
}

.textTypePc-2:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.textTypePc-3 a {

    text-decoration: none;
    z-index: 1;
    position: absolute;
    width: 232px;
    height: 45px;
    left: 995px;
    top: 830px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 45px;

    color: #FF0101;
}

.textTypePc-3:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img-bg2{
    
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 1px;
    top: 1024px;
}

.main-content2{

    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 1px;
    top: 1024px;

}




.container-2 {

    cursor: auto;
    position: absolute;
    width: 1355px;
    height: 1024px;
    left: 43px;
    top: 1029px;

    background: #F5F5F5;
}

.highlights-text {

    z-index: 1;
    position: absolute;
    width: 233px;
    height: 50px;
    left: 308px;
    top: 1046px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 52px;

    color: #FF0101;
}

.highlights-1 a{

    z-index: 1;
    box-sizing: border-box;

    position: absolute;
    width: 298px;
    height: 467px;
    left: 258px;
    top: 1135px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.highlights-1:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));

}

.highlights-2 a{

    box-sizing: border-box;

    position: absolute;
    width: 298px;
    height: 467px;
    left: 612px;
    top: 1135px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.highlights-2:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));

}

.highlights-3 a{

    box-sizing: border-box;

    position: absolute;
    width: 298px;
    height: 467px;
    left: 950px;
    top: 1135px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.highlights-3:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));

}
.imgs-highlights-1 a{

    z-index: 1;
    position: absolute;
    width: 265px;
    height: 300px;
    left: 275px;
    top: 1141px;

    background: url(../assets/gabinetes/gab1.png);
}

.imgs-highlights-2 a{
    position: absolute;
    width: 275px;
    height: 300px;
    left: 626px;
    top: 1148px;

    background: url(../assets/gabinetes/gab2.png);
}

.imgs-highlights-3 a{
    position: absolute;
    width: 269px;
    height: 289px;
    left: 962px;
    top: 1142px;

    background: url(../assets/gabinetes/gab3.png);
}

.desc-highlights-1 a{

    position: absolute;
    width: 218.6px;
    height: 95px;
    left: 272px;
    top: 1451px;

    background-image: url(../assets/icons/desc-anuncio.png);

}

.desc-highlights-2 a{
    position: absolute;
    width: 218.6px;
    height: 95px;
    left: 626px;
    top: 1452px;

    background-image: url(../assets/icons/desc-anuncio.png);

}

.desc-highlights-3 a{
    position: absolute;
    width: 218.6px;
    height: 95px;
    left: 962px;
    top: 1453px;

    background-image: url(../assets/icons/desc-anuncio.png);

}

.buy-highlights-1 a{

    position: absolute;
    width: 262px;
    height: 50px;
    left: 274px;
    top: 1542px;
    border-radius: 5px;

    background-image: url(../assets/icons/icon-comprar.png);

}

.buy-highlights-2 a{

    position: absolute;
    width: 262px;
    height: 50px;
    left: 628px;
    top: 1543px;
    border-radius: 5px;

    background-image: url(../assets/icons/icon-comprar.png);


}

.buy-highlights-3 a{

    position: absolute;
    width: 262px;
    height: 50px;
    left: 966px;
    top: 1542px;
    border-radius: 5px;
    background-image: url(../assets/icons/icon-comprar.png);

}

.text-buy-by-platform{

    position: absolute;
    width: 487px;
    height: 53px;
    left: 196px;
    top: 1680px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 52px;
    /* identical to box height */
    
    
    color: #FF0101;
}

.text-platform-intel{

    position: absolute;
    width: 72px;
    height: 30px;
    left: 141px;
    top: 1753px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    
    color: #FF0101;
}

.text-platform-amd{

    position: absolute;
    width: 60px;
    height: 30px;
    left: 761px;
    top: 1759px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    
    color: #FF0101;
}

.platform-intel{

    position: absolute;
    width: 520px;
    height: 162px;
    left: 141px;
    top: 1789px;
    
    background: url(../assets/icons/img-intel-processor.png)
}
.platform-amd{

    position: absolute;
    width: 552px;
    height: 162px;
    left: 761px;
    top: 1789px;
    
    background: url(../assets/icons/img-amd-processor.png);
}



.img-bg3{

    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 1px;
    top: 2048px;

}

.main-content3 {


    position: absolute;
    width: 1355px;
    height: 1024px;
    left: 43px;
    top: 2053px;

    background: #F5F5F5;

}

.container-3 {


    cursor: auto;
    position: absolute;
    width: 1355px;
    height: 1024px;
    left: 43px;
    top: 2053px;

    background: #F5F5F5;
}

.bestsellers-text {

    text-decoration: none;
    position: absolute;
    width: 403px;
    height: 53px;
    left: 230px;
    top: 2070px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 52px;



    color: #FF0101;

}

.bestsellers-1{

    box-sizing: border-box;

    position: absolute;
    width: 298px;
    height: 467px;
    left: 258px;
    top: 2153px;
    
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.bestsellers-2{

    box-sizing: border-box;

    position: absolute;
    width: 298px;
    height: 467px;
    left: 619px;
    top: 2148px;
    
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.bestsellers-3{

    box-sizing: border-box;

    position: absolute;
    width: 298px;
    height: 467px;
    left: 962px;
    top: 2153px;
    
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.img-bestsellers-1{

    border: none;
    position: absolute;
    width: 265px;
    height: 300px;
    left: 275px;
    top: 2159px;
    
    background: url(../assets/gabinetes/gab2.png);
}
.img-bestsellers-2{

    position: absolute;
    width: 275px;
    height: 300px;
    left: 633px;
    top: 2161px;
    
    background: url(../assets/gabinetes/gab3.png);
}
.img-bestsellers-3{

    position: absolute;
    width: 269px;
    height: 289px;
    left: 974px;
    top: 2160px;
    
    background-image: url(../assets/gabinetes/gab1.png);
}
.desc-bestsellers-1{

    position: absolute;
    width: 218.6px;
    height: 95px;
    left: 272px;
    top: 2469px;

    background-image: url(../assets/icons/desc-anuncio.png);
}
.desc-bestsellers-2{

    position: absolute;
    width: 218.6px;
    height: 95px;
    left: 633px;
    top: 2465px;
    background-image: url(../assets/icons/desc-anuncio.png);


}
.desc-bestsellers-3{

    z-index: 1;
    position: absolute;
    width: 218.6px;
    height: 95px;
    left: 974px;
    top: 2471px;
    background-image: url(../assets/icons/desc-anuncio.png);

}

.buy-bestsellers-1 a{
    position: absolute;
    width: 262px;
    height: 50px;
    left: 277px;
    top: 2560px;
    background-image: url(../assets/icons/icon-comprar.png);


}
.buy-bestsellers-2 a{

    position: absolute;
    width: 262px;
    height: 50px;
    left: 638px;
    top: 2556px;
    background-image: url(../assets/icons/icon-comprar.png);
}
.buy-bestsellers-3 a{

    position: absolute;
    width: 262px;
    height: 50px;
    left: 980px;
    top: 2560px;
    background-image: url(../assets/icons/icon-comprar.png);

}


