@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body,
html {


    display: flex;
    margin: 0px;
    position: relative;
    width: 100%;
    height: 3072px;

    background: #FFFFFF;
}

.navbar {

    position: absolute;
    width: 1440px;
    height: 154px;
    left: 0px;
    top: 0px;
    
    background: #000000;

}

.logoNestHeader {

    z-index: 1;
    position: absolute;
    width: 174px;
    height: 150px;
    left: 111px;
    top: 0px;
    
background: url(../assets/logo_nest_nova_page-0001__1_-removebg-preview\ 1.png);

}

input {

    position: absolute;
    width: 610px;
    height: 38px;
    left: 295px;
    top: 54px;
    padding-left: 20px;
    
    
    background: #FFFFFF;
    border-radius: 5px 0px 0px 5px;

}

.menu-3pontos{
    
    position: absolute;
    width: 50px;
    height: 49px;
    left: 44px;
    top: 43px;

}

.icons-header{

    position: absolute;
    width: 32px;
    height: 32px;
    top: 57px;

    border-radius: 50% 50%;
    background: #FFFFFF;
}

.icon-profile {

    left: 992px;

}

.text-profile {

    position: absolute;
    width: 142px;
    height: 44px;
    left: 1033px;
    top: 56px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    
    color: #FFFFFF;

}

.link-login {

    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: #FFFFFF;

}

.link-cadastre-se {

    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: #FFFFFF;

}

.icon-support{

    left: 1265px;
}

.icon-shoppingCart {

    left: 1355px;


}

.icon-favorite {

    left: 1310px;

}
.button-submit{

    position: relative;
    width: 55px;
    height: 45px;
    left: 925px;
    top: 54px;

    background: #E20100;
    border-radius: 0px 5px 5px 0px;
    
}
.icon-lupa {

    width: 36px;
    height: 36px;
    margin-top: 5px;

}

.line {

    display: flex;
    justify-content: center;
    position: absolute;
    width: 1441px;
    height: 41px;
    left: 0px;
    top: 150px;
    
    background: #211F1F;

}


.social-media{

    margin-top: 8px;
    width: 34px;
    height: 27px;
    bottom: 5181px;
}

.img-bg1 {

    position: absolute;
    width: 1441px;
    height: 3699px;
    left: 0px;
    top: 191px;
    

}

.ads-div{

    position: absolute;
    display: flex;
    align-items: flex-end;
}
.ads-log {
    
    z-index: 1;
    position: absolute;
    width: 174px;
    height: 150px;
    left: 630px;
    top: 235px;
    
}
.ads-text{

    z-index: 1;
    position: absolute;
    width: 65px;
    height: 45px;
    top: 271px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 45px;

    color: #FFFFFF;
}
.ads-text-1{

    left: 409px;
}
.ads-text-2{

    left: 968px;
}


.main-content {

    position: absolute;
    width: 1440px;
    height: 837px;
    left: 1px;
    top: 191px;
    
}

.container {

    position: absolute;
    width: 1355px;
    height: 634px;
    left: 43px;
    top: 395px;

    background: #F5F5F5;
}

.typepc-text {

    z-index: 1;
    position: absolute;
    width: 575px;
    height: 53px;
    left: 146px;
    top: 422px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 52px;


    color: #FF0101;
}

.typepc-1 .img-typepc-1 {

    z-index: 1;
    position: absolute;
    width: 315px;
    height: 300px;
    left: 146px;
    top: 508px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));

}

.typepc-1:hover .img-typepc-1 {

    width: 335px;
    height: 310px;
    filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.6));

}


.typepc-2 .img-typepc-2 {

    z-index: 1;
    position: absolute;
    width: 320px;
    height: 320px;
    left: 535px;
    top: 492px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));

}

.typepc-2:hover .img-typepc-2 {

    width: 330px;
    height: 330px;

    filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.6));

}

.typepc-3 .img-typepc-3 {

    z-index: 1;
    position: absolute;
    width: 320px;
    height: 320px;
    left: 949px;
    top: 481px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.typepc-3:hover .img-typepc-3 {

    width: 330px;
    height: 330px;

    filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.6));

}


.textTypePc-1 a {

    text-decoration: none;
    z-index: 1;
    position: absolute;
    width: 236px;
    height: 45px;
    left: 185px;
    top: 830px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 45px;

    color: #FF0101;

}

.textTypePc-1:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.textTypePc-2 a {

    text-decoration: none;
    z-index: 1;
    position: absolute;
    width: 382px;
    height: 45px;
    left: 515px;
    top: 830px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */


    color: #FF0101;
}

.textTypePc-2:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.textTypePc-3 a {

    text-decoration: none;
    z-index: 1;
    position: absolute;
    width: 232px;
    height: 45px;
    left: 995px;
    top: 830px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 45px;

    color: #FF0101;
}

.textTypePc-3:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-content2{

    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 1px;
    top: 1024px;

}

.container-2 {

    cursor: auto;
    position: absolute;
    width: 1355px;
    height: 1024px;
    left: 43px;
    top: 1024px;

    background: #F5F5F5;
}

.hl-text {

    position: absolute;
    width: 233px;
    height: 50px;
    left: 308px;
    top: 1046px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 52px;

    color: #FF0101;
}

.favoriteIcon{
    
    z-index: 1;
    position:absolute;
    width: 40px;
    height: 40px;
    top: 1147px;

}

.favoriteIcon-hl-1{
    left: 515px;
}
.favoriteIcon-hl-2{
    left: 866px;
}
.favoriteIcon-hl-3{
    left: 1210px;
}


.img-hl-1, .img-hl-2, .img-hl-3{
    
    margin-top: 20%;
    width: 293px;
    height: 300px;
    
}

.styleBox{

    box-sizing: border-box;

    position: absolute;
    width: 298px;
    height: 513px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.styleBox:hover{
    
    cursor:pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.hl-1{

    left: 268px;
    top: 1138px;
}

.hl-2{

    left: 619px;
    top: 1138px;

}

.hl-3{

    left: 960px;
    top: 1138px;

}

.oldPrice-hl{
    
    position: absolute;
    width: 194px;
    height: 24px;
    top: 1508px;
}

.oldPrice-hl-1{

    left: 317px;

}

.oldPrice-hl-2{

    left: 669px;
    
}

.oldPrice-hl-3{

    left: 1004px;
}

.currentPrice-hl{
    
    position: absolute;
    width: 182px;
    height: 36px;
    top: 1531px;
}

.currentPrice-hl-1{

    left: 329px;
}

.currentPrice-hl-2{

    left: 681px;
    
}

.currentPrice-hl-3{

    left: 1016px;

}

.installmentPrice-hl{
    
    position: absolute;
    width: 206px;
    height: 24px;
    top: 1561px;

}

.installmentPrice-hl-1{

    left: 317px;
    
}

.installmentPrice-hl-2{

    left: 669px;
    
}

.installmentPrice-hl-3{

    left: 1004px;
    
}

.button-buy img{

    position: absolute;
    width: 262px;
    height: 45px;
    border-radius: 5px;
}

.buy-hl:hover{

    cursor: pointer;
    width: 272px;
    height: 50px;
    top: 1584px;
    padding-top: 5px;
    background-color: #E20100;
}

.buy-hl-1{

    left: 286px;
    top: 1587px;
    
}
.buy-hl-1:hover{
    
}

.buy-hl-2 {

    left: 637px;
    top: 1587px;

}

.buy-hl-3{

    left: 978px;
    top: 1587px;

}

.currentPrice-hl-1, .currentPrice-hl-2 , .currentPrice-hl-3{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    
    color: #E20100;

}

.installmentPrice-hl-1, .installmentPrice-hl-2, .installmentPrice-hl-3,
.oldPrice-hl-1, .oldPrice-hl-2, .oldPrice-hl-3{
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #000000;
}


.text-buy-by-platform{

    position: absolute;
    width: 487px;
    height: 53px;
    left: 196px;
    top: 1680px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 52px;
    
    color: #FF0101;
}

.text-platform-intel{

    position: absolute;
    width: 72px;
    height: 30px;
    left: 141px;
    top: 1753px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    
    color: #FF0101;
}

.text-platform-amd{

    position: absolute;
    width: 60px;
    height: 30px;
    left: 761px;
    top: 1759px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    
    color: #FF0101;
}

.platform-intel, .platform-amd {

    position: absolute;
    width: 520px;
    height: 162px;
    top: 1789px;
    border-radius: 5px;

}

.platform-intel:hover, .platform-amd:hover{

    position: absolute;
    width: 530px;
    height: 172px;
    top: 1789px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;

}

.platform-intel{

    left: 141px;
}
.platform-amd {

    left: 761px;

}

.main-content3 {


    position: absolute;
    width: 1355px;
    height: 1024px;
    left: 43px;
    top: 2053px;

}

.container-3 {
    
    cursor: auto;
    position: absolute;
    width: 1355px;
    height: 1024px;
    left: 43px;
    top: 2048px;

    background: #F5F5F5;
}

.bs-text {

    z-index: 1;
    position: absolute;
    width: 350px;
    height: 50px;
    left: 308px;
    top: 2070px;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 52px;

    color: #FF0101;

}

.favoriteIcon-bs-1{
    left: 515px;
}
.favoriteIcon-bs-2{
    left: 866px;
}
.favoriteIcon-bs-3{
    left: 1210px;
}

.img-bs-1, .img-bs-2, .img-bs-3{
    
    margin-top: 20%;
    width: 293px;
    height: 300px;
    
}
.bs-1{

    left: 258px;
    top: 2153px;
}
.bs-2{

    left: 619px;
    top: 2148px;

}
.bs-3{

    left: 962px;
    top: 2153px;

}

.img-bs-1{

    left: 275px;
    top: 2159px;

}
.img-bs-2{

    left: 633px;
    top: 2161px;

}
.img-bs-3{

    left: 974px;
    top: 2160px;
    
}
.desc-bs-1 a{

    position: absolute;
    width: 218.6px;
    height: 95px;
    left: 272px;
    top: 2469px;

    background-image: url(../assets/icons/desc-anuncio.png);
}
.desc-bs-2 a{

    position: absolute;
    width: 218.6px;
    height: 95px;
    left: 633px;
    top: 2465px;
    background-image: url(../assets/icons/desc-anuncio.png);


}
.desc-bs-3 {

    z-index: 1;
    position: absolute;
    width: 218.6px;
    height: 95px;
    left: 974px;
    top: 2471px;
    background-image: url(../assets/icons/desc-anuncio.png);

}

.buy-bs-1 {

    top: 2605px;
    left: 277px;

}
.buy-hl:hover{

    cursor: pointer;
    width: 272px;
    height: 50px;
    top: 1584px;
    padding-top: 5px;
    background-color: #E20100;
}


.buy-bs-2 {

    left: 638px;
    top: 2605px;

}
.buy-bs-3 {

    left: 980px;
    top: 2605px;

}





.currentPrice-bs-1, .currentPrice-bs-2 , .currentPrice-bs-3{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    
    color: #E20100;

}

.installmentPrice-bs-1, .installmentPrice-bs-2, .oldPrice-bs-1, .oldPrice-bs-2{
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #000000;
}
